<div class="container-fluid" ng-controller="HomeController as vm">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    
                    <div class="row">
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="vm.clientePage()"><i
                                    class="fa fa-users fa-5x"></i><br><br>Clientes</button>
                            </div>
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="vm.fornecedorPage()"><i
                                    class="fa fa-list fa-5x"></i><br><br>Fornecedores</button>
                            </div>
                    </div>
                    <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="vm.mercadoriaPage()"><i
                                    class="fa fa-cart-plus fa-5x"></i><br><br>Mercadoria</button>
                            </div>
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="vm.movimentacaoPage()"><i
                                    class="fa fa-exchange fa-5x"></i><br><br>Movimentacoes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
